#bm-breadcrumb {
    margin-bottom: -1.8em;
    margin-left: -2.2em;
}

a.breadcrumb {
    background-color: transparent;
}

#yuansferTabs td {
    border-bottom: solid 0.01em #dadada;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
  }
  
  #loading_image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
  }